.app17 {
    width: 1170px;
    height: 463px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage17 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineUnderHeading17 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content17 {
    top: 102px;
    left: calc(50% - 302px / 2);
    width: 302px;
    height: 221px;
}

.boxes17 {
    width: 302px;
    height: 121px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn17,
.rightColumn17 {
    width: 121px;
    height: 121px;
}

/* rows styles */

.first1row17,
.second1row17,
.third1row17,
.fourth1row17,
.fifth1row17,
.first2row17,
.second2row17,
.third2row17,
.fourth2row17,
.fifth2row17 {
    width: 121px;
    height: 25px;
    border: 1px solid #2f2f2f;
    box-sizing: border-box;
}

.third1row17,
.fourth1row17,
.fifth1row17 {
    background-color: #c6ffab;
}

.second2row17,
.third2row17,
.fourth2row17,
.fifth2row17 {
    background-color: #abe9ff;
}

/* btns styles */

.btns17 {
    top: 30px;
    left: calc(50% - 166px / 2);
    width: 166px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btns17 div {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    background: #369cb7;
    border: 1px solid #369cb7;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}
