.app5 {
    width: 1170px;
    height: 480px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage5 {
    top: 25px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 44px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.subtitle5 {
    top: 10px;
    left: calc(50% - 348px / 2);
    width: 348px;
    height: 24px;
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #065b5b;
    font-weight: lighter;
}

.lineUnderHeading5 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 100px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content5 {
    top: 136px;
    left: calc(50% - 370px / 2);
    width: 370px;
    height: 204px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn5,
.rightColumn5 {
    width: 155px;
    height: 204px;
}

.top1row5,
.center1row5,
.bottom1row5,
.top2row5,
.center2row5,
.bottom2row5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.content5 input {
    width: 57px;
    height: 30.15px;
    border: 1px solid;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
}
