.app9 {
    width: 1170px;
    height: 372px;
    left: calc(50% - 1170px / 2);
    top: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.05);
    border: 0.5px solid #a8a8a8;
    border-radius: 7px;
    margin-bottom: 51px;
}

.titlePage9 {
    top: 26px;
    left: calc(50% - 770px / 2);
    width: 770px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2f2f2f;
}

.lineUnderHeading9 {
    position: absolute;
    width: 1169px;
    height: 0px;
    top: 71px;
    border-bottom: 1px solid #a8a8a8;
}

/* content styles */

.content9 {
    top: 102px;
    left: calc(50% - 415px / 2);
    width: 415px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftColumn9,
.rightColumn9 {
    width: 173px;
    height: 130px;
}

.content9 input {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    border: 1px solid #2f2f2f;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.top1row9,
.center1row9,
.bottom1row9,
.top2row9,
.center2row9,
.bottom2row9 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
